@page
@model Dashboard

<div class="card text-bg-primary mb-3">
    <div class="card-header">Dashboard</div>
    <div class="card-body">
        <h5 class="card-title">Total Cars</h5>
        <p class="card-text"><span class="badge bg-info">@Model.Total</span></p>
    </div>
</div>