@page
@model Registration.Pages.Claimed
@{
    ViewData["Title"] = "Claimed";
}

<div class="card">
    <div class="card-header">
        Claim
    </div>
    <div class="card-body">
        <p>
            You have successfully claimed your tenant.
        </p>
    </div>
</div>