@page
@model Registration.Pages.Registered
@{
    ViewData["Title"] = "Register Tenant";
}

<div class="card">
    <div class="card-header">
        Registered
    </div>
    <div class="card-body">
        <p>
            You have successfully registered, please check your email.
        </p>
    </div>
</div>