@page
@model Add

<partial name="_Toolbar"/>

<h3>Widget Admin</h3>
<div class="card">
    <div class="card-header">
        Add a new Widget
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data.Description"></label>
                <input asp-for="Data.Description" class="form-control">
                <span asp-validation-for="Data.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mt-4">Add Widget</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}