@page
@model Admin.Pages.Tenants.Add

<partial name="_Toolbar"/>

<h1>Tenant Administration</h1>

<div class="card">
    <div class="card-header">
        Add a new Tenant
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div  class="mb-3">
                <label asp-for="Data.Name" class="form-label"></label>
                <input asp-for="Data.Name" class="form-control">
                <span asp-validation-for="Data.Name" class="text-danger"></span>
            </div>
            <div  class="mb-3">
                <label asp-for="Data.Identifier" class="form-label"></label>
                <input asp-for="Data.Identifier" class="form-control">
                <span asp-validation-for="Data.Identifier" class="text-danger"></span>
            </div>
            <div  class="mb-3">
                <button type="submit" class="btn btn-primary mt-4">Add Tenant</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}