@page
@model Admin.Pages.Tenants.Index

<partial name="_Toolbar"/>

<h1>Tenant Admin</h1>

@if (Model.Items.Any())
{
    <div class="card">
        <div class="card-header">
            Tenants
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var item in Model.Items)
            {
                <li class="list-group-item">@item.Name (@item.Identifier)</li>
            }
        </ul>
    </div>
}
else
{
    <div class="alert alert-light" role="alert">
        No tenants exist
    </div>
}