@page
@model Admin.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>

<form method="post" class="row" novalidate>
    <div class="col-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Input.Email" class="form-label"></label>
            <input asp-for="Input.Email" class="form-control">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Input.Password" class="form-label"></label>
            <input asp-for="Input.Password" class="form-control">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mt-4">Log in</button>
        </div>
    </div>
</form>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}