@page
@model Registration.Pages.Claim
@{
    ViewData["Title"] = "Claim Tenant";
}

<div class="card">
    <div class="card-header">
        Claim
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div  class="mb-3">
                <label asp-for="Data.Password"></label>
                <input type="password" asp-for="Data.Password" class="form-control" data-testid="Password">
                <span asp-validation-for="Data.Password" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Identifier" data-testid="Identifier">
            <input type="hidden" asp-for="Token" data-testid="Token">
            <div  class="mb-3">
                <button type="submit" class="btn btn-primary mt-4" data-testid="Claim">Claim</button>
            </div>
        </form>
    </div>
</div>