@page
@model Theme

<h1>Settings</h1>

<div class="card">
    <div class="card-header">
        Choose a Theme
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <select asp-for="Data.Theme" asp-items="Model.Data.Themes" class="form-select"></select>
            </div>
            <div  class="mb-3">
                <button type="submit" class="btn btn-primary mt-4">Save</button>
            </div>
        </form>
    </div>
</div>