@page
@model Add

<partial name="_Toolbar"/>

<h1>Widget Admin</h1>

<div class="card">
    <div class="card-header">
        Add a new Widget
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div  class="mb-3">
                <label asp-for="Data.Description" class="form-label"></label>
                <input asp-for="Data.Description" class="form-control">
                <span asp-validation-for="Data.Description" class="text-danger"></span>
            </div>
            <div  class="mb-3">
                <button type="submit" class="btn btn-primary mt-4">Add Widget</button>
            </div>
        </form>
    </div>
</div>