@page
@model Management.Pages.Statistics.Index

<h3>Tenant Statistics</h3>

<div class="row">
    <div class="col-3">
        <div class="card text-bg-primary mb-3">
            <div class="card-header">Total Tenants</div>
            <div class="card-body">
                <p class="card-text">
                    <span class="badge bg-info">@Model.Data.TotalTenants</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-bg-primary mb-3">
            <div class="card-header">Total Widgets</div>
            <div class="card-body">
                <p class="card-text">
                    <span class="badge bg-info">@Model.Data.TotalWidgets</span>
                </p>
            </div>
        </div>
    </div>
</div>